<footer class="footer_ampsper">
	<!-- <a class="subscribe_ampsper icon-rss" target="_blank" href="{{@blog.url}}/rss/"><span class="hidethis_ampsper">Subscribe!</span></a> -->
	<div class="footertext_ampsper">
		All content copyright <a href="/">{{@blog.title}}</a> &copy; 2016 &bull; All rights reserved.
	</div>
	<div class="footertext_ampsper">
		Proudly published with <a class="icon-ghost" href="http://tryghost.org" target="_blank">Ghost</a>, powered by <a class="icon-ghost" href="https://github.com/ampproject" target="_blank">AMP</a>
	</div>
</footer>